/* _content/WebApplicationIdentity/Views/Shared/_AdminDashBoard.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-h8bw1iepae] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-h8bw1iepae] {
  color: #0077cc;
}

.btn-primary[b-h8bw1iepae] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-h8bw1iepae], .nav-pills .show > .nav-link[b-h8bw1iepae] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-h8bw1iepae] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-h8bw1iepae] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-h8bw1iepae] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-h8bw1iepae] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-h8bw1iepae] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/WebApplicationIdentity/Views/Shared/_CustomerDashBoard.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-evl4sg23ak] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-evl4sg23ak] {
  color: #0077cc;
}

.btn-primary[b-evl4sg23ak] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-evl4sg23ak], .nav-pills .show > .nav-link[b-evl4sg23ak] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-evl4sg23ak] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-evl4sg23ak] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-evl4sg23ak] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-evl4sg23ak] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-evl4sg23ak] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/WebApplicationIdentity/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-w17oy9hyrp] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-w17oy9hyrp] {
  color: #0077cc;
}

.btn-primary[b-w17oy9hyrp] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-w17oy9hyrp], .nav-pills .show > .nav-link[b-w17oy9hyrp] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-w17oy9hyrp] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-w17oy9hyrp] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-w17oy9hyrp] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-w17oy9hyrp] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-w17oy9hyrp] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/WebApplicationIdentity/Views/Shared/_ManagerDashBoard.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ph2pznl1nd] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ph2pznl1nd] {
  color: #0077cc;
}

.btn-primary[b-ph2pznl1nd] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ph2pznl1nd], .nav-pills .show > .nav-link[b-ph2pznl1nd] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ph2pznl1nd] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ph2pznl1nd] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ph2pznl1nd] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ph2pznl1nd] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ph2pznl1nd] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/WebApplicationIdentity/Views/Shared/_VenderDashBoard.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-zfefnhkaeh] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-zfefnhkaeh] {
  color: #0077cc;
}

.btn-primary[b-zfefnhkaeh] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-zfefnhkaeh], .nav-pills .show > .nav-link[b-zfefnhkaeh] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-zfefnhkaeh] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-zfefnhkaeh] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-zfefnhkaeh] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-zfefnhkaeh] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-zfefnhkaeh] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
